/* 
    flex-direction: row (main-axis: row-x, cross-axis: column-y)
    flex-direction: column (main-axis: column-y, cross-axis: row-x)
    
    justify-content -> Always used to align on Main axis
    align-items -> Always used to align on cross axis
*/

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  font-family: monospace;
  background-color: rebeccapurple;
  color: whitesmoke;
}

header {
  text-align: center;
}

.flex-container {
  display: flex;
  background-color: rgb(156, 141, 199);
  height: 500px;
  justify-content: space-between;
  align-items: center;
}
.item {
  width: 100px;
  height: 100px;
  background-color: whitesmoke;
  color: rebeccapurple;
  margin: 10px;
}
